[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
flake8 = "*"
numpy = "*"
tensorflow-gpu = "2.2.0"
scipy = "*"
Pillow = "*"
requests = "*"
googledrivedownloader = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
